/* General reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #606060;
	display: flex;
	justify-content: center;
}

.nav-container {
	max-width: 1600px;
	width: 100%;
	background-color: #303030;
	opacity: 0.97;
	display: flex;
	justify-content: space-between;
/*	box-shadow: 0px 3px 3px 0px rgba(98,98,98,0.80);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(98,98,98,0.80); */
}

.container {
	max-width: 1600px;
	width: 100%;
	background: #fff;
}

/* Navigation & menu bar */

nav {
	height: 40px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 2;
}

.navbar-spacing {
	height: 40px;
}

.logo-button {
	width: 50px;
	height: 40px;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
}
/*
.logo-button:hover {
	background-color: #FF0090;
}

.logo-button:active {
	background-color: #FF0090;
}
*/
menu {
	padding-right: 20px;
}

.menu-button {
	height: 40px;
	padding: 0px 5px;
	display: inline-flex;
    align-items: center;
}

.menu-button:link {
		text-decoration: none;
}

.menu-button:hover {
	background-color: #FF0090;
}

.menu-button:active {
	background-color: #FF0090;
}

.menu-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 90%;
	text-transform: uppercase;
	color: #FFFFFF;
}



/* Header logo & short summary of my skills */

header {
	padding: 60px 0px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	color: #383838;
	text-align: center;	
	margin: 0px auto;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	color: #383838;
}

a:link {
	color: #EE1C91;
}

a:visited {
	color: #891155;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.header-logo {
	margin: 0 auto 15px;
	width: 150px;
	display: block;
}

.my-name {
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 210%;
	text-transform: uppercase;
	margin: 0px 15px 20px;
	color: #404040;
} 

.header-intro {
	font-weight: 400;
	font-style: italic;
	font-size: 105%;
	letter-spacing: 0.2px;
	padding: 0px 7%;
}

/* Top 3 projects & project description */

.project-group {
	text-align: center;		
}

.row {
	height: 600px;
	background-color: #E8E8E8;
	display: flex;
    justify-content: center;
    align-items: center;
}

.row-modal {
	max-width: 420px;
	min-width: 250px;
	height: 230px;
	margin: 0px 12%;
	background-color: #404040;
	opacity: 0.96;
	display: flex;
    justify-content: center;
    align-items: center;
}

.row-content {
	height: 180px;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1px;
}

.project-tag {
	margin: 0;
	font-style: italic;
	font-weight: 300;
	font-size: 93%;
	color: #BBB;
}

.project-name {
	font-size: 135%;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 5%;
}

.project-brief {
	color: #FFF;
	font-weight: 200;
	font-size: 92%;
	letter-spacing: 0.1px;
	margin: 0;
}

.project-button {
	width: 170px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: thin solid #FFFFFF;
	text-decoration: none;
	letter-spacing: 0px;
}

.project-button-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 91%;
	font-weight: 400;
	letter-spacing: 0.3;
	color: #FFFFFF;
}

#meme {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#boxly {
	background-color: #606060;
	background-image: url(../images/boxly-hero-img.png);
	background-size: cover;
	background-position: 50% 50%;
}

#folio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFED48;
}

.folio-hero-row-1 {
	align-self: flex-start;
	margin: 25px 0px 0px 25px;
}

.folio-hero-text-pink {
	color: #FF0090
}

.folio-hero-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	font-size: 42px;
	color: #282828;
	line-height: 102%;
	text-align: left;
}

.folio-hero-row-3 {
	align-self: flex-end;
	margin: 3px 15px 10px 0px;
}

.octocat-wrap {
	width: 290px;
}


/* About section with avatar & resume link */

.about {
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.about-heading {
	width: 100%;
	margin-bottom: 20px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	margin-bottom: 50px;
}

.avatar {
	width: 150px;
	border: thin solid #404040;
	border-radius: 50%;
	margin-bottom: 20px;
}

.resume-button {
	width: 170px;
	height: 40px;
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 1px;
/*	background-color: #FF0090;*/
	border: solid #FF0090;
	text-decoration: none;
}

.resume-button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FF0090;
}

.bio {
	max-width: 1200px;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
	font-size: 101%;
	letter-spacing: 0.2px;
	font-weight: 400;
	line-height: 120%;
	-webkit-columns: 2 300px;
    -moz-columns: 2 300px;
    columns: 2 300px;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 4em;
	-webkit-column-rule: 1px solid #ddd;
	-moz-column-rule: 1px solid #ddd;
	column-rule: 1px solid #ddd;
}

/* Contact section & contact form */

.connect-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 20px 50px;
}

.connect-wrap {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.connect-heading {
	width: 100%;
	font-size: 150%;
	font-weight: 600;
}

.connect-text {
	font-size: 97%;
	font-weight: 400;
	line-height: 115%;
	width: 100%;
	margin: 20px 25px;
}

/*
.my-email {
	text-decoration: underline;
}
*/

/* REMOVE INPUT FORM
.input-field {
	width: 100%;
	margin: 0px 0px 18px;
	border: thin solid #ccc;
}

.send-button-wrap {
	display: flex;
}

.send-button {
	width: 150px;
	height: 40px;
	color: #FF0090;
	border: medium solid #FF0090;
	background-color: #fff;
	font-weight: 700;
	padding-top: 5px;
	margin: 16px auto;
}
*/

/* Footer section includes a "back to top" page anchor, social media, and copyright info */

footer {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}

.back-top-bar {
	background-color: #fff;
}

.back-top-wrap {
	width: 120px;
	margin: 0 auto;
	padding-top: 4px;
	padding-bottom: 14px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #404040;
	font-size: 92%;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.back-top-button {	
	width: 120px;
	margin: 0 auto;
	display: block;
	text-decoration: none;
}

.back-top-text {
	text-decoration: underline;	
}

.fas {
	width: 100%;
	font-size: 180%;
	text-align: center;	
}

/* Footer section with "back-to-top" link, social media, and copyright info */

.footer-bar {
	background-color: #333333;
	display: flex;
	align-items: flex-end;
	padding: 20px 0px;
}

.social-wrap {
	width: 50%;
	padding-right: 9px;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.social-link {
	padding: 0px;
	display: inline-flex;
    align-items: center;
}
/*
.social-text {
	font-family: 'Kanit', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 200;
	font-size: 91%;
	letter-spacing: 0.3px;
}
*/
.copyright {
	width: 50%;
	margin: 0;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-weight: 200;
	font-size: 88%;
	text-align: left;
	letter-spacing: 0.3px;
	line-height: 120%;
}

.social-button {
	width: 35px;
	margin: 0px 11px;
}

/* Media queries for mobile devices */

@media (max-width: 530px) {
	.bio {
		font-size: 85%;
	}
	
	.connect-block {
		padding: 10px 20px 40px;
	}
	
	.connect-heading {
	    width: 100%;
	    font-size: 140%;
	    font-weight: 600;
}

	.connect-text {
		font-size: 85%;
		font-weight: 400;
		line-height: 115%;
		width: 100%;
		margin: 20px 25px;
	}
	
    .footer-bar {
    	background-color: #303030;
    	display: flex;
    	flex-direction: column;
		align-items: center;
    	padding: 20px 0px;
    }

    .social-wrap {
    	width: 100%;
    	margin: 10px 0px 20px;
		padding: 0;
    	display: flex;
    	justify-content: center;
		order: 1;
    }

    .copyright {
    	width: 100%;
		margin-bottom: 10px;
		padding: 0;
    	font-family: 'Kanit', sans-serif;
    	color: #ffffff;
    	font-weight: 200;
    	font-size: 90%;
    	text-align: center;
    	letter-spacing: 0.2px;
		order: 2;
    }
	.social-button {
		width: 35px;
		margin: 0px 11px 5px;
	}
}



