/* CSS Document */

/* ************************************************************************************
SECTION - ABOUT
************************************************************************************* */
/* ************************************************************************************
MY AVATAR & RESUME LINK
************************************************************************************* */
.about {
	width: 100%;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center
}
.about-heading h1 {
	color: #FFF;
	width: 100%;
	margin-bottom: 20px;
}
.about-heading {
	background-color: #444;
	width: 100%;
	padding: 40px 0px 30px;
}
.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	/*margin-bottom: 30px;*/
}
.avatar {
	width: 150px;
	/*border: thin solid #404040;
	border-radius: 50%;*/
	margin-bottom: 18px;
}/*
.email-button {
	width: 150px;
	height: 36px;
	display: flex;
  justify-content: center;
  align-items: center;
	padding-top: 1px;
	border: solid #FFF;
	text-decoration: none;
}
.email-button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.1px;
	color: #FFF;
}*/
.social-header-wrap {
	margin: 0px 12%;
	display: flex;
	justify-content: center;
}
.social-button {
	width: 40px;
	margin: 0px 12px;
}
@media (max-width: 660px) {
	.social-button {
		width: 35px;
		margin: 0px 10px;
	}
}
.resume-button {
	width: 150px;
	height: 36px;
	display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 25px;
	padding-top: 1px;
	border: solid #FFF;
	text-decoration: none;
}
.resume-button-text {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #FFF;
}
.bio-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bio {
	max-width: 600px;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #404040;
	font-size: 103%;
	letter-spacing: 0.1px;
	font-weight: 400;
	line-height: 140%;
	padding: 0px 10px;
/*	-webkit-columns: 2 300px;
    -moz-columns: 2 300px;
    columns: 2 300px;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 4em;
	-webkit-column-rule: 1px solid #ddd;
	-moz-column-rule: 1px solid #ddd;
	column-rule: 1px solid #ddd;*/
}
.bio-wrap h3 {
	text-decoration: underline;
}
.calvin-hobbes {
	padding: 24px 0px;
}
#calvin-hobbes-explore {
	max-width: 74%;
}
#calvin-hobbes-reading {
	max-width: 41%;
}
@media (max-width: 660px) {
	.calvin-hobbes {
		padding: 28px 0px;
	}
	#calvin-hobbes-explore {
		max-width: 84%;
	}
	#calvin-hobbes-reading {
		max-width: 44%;
	}
}
@media (max-width: 560px) {
	#calvin-hobbes-explore {
		max-width: 93%;
	}
	#calvin-hobbes-reading {
		max-width: 50%;
	}
}
@media (max-width: 460px) {
	#calvin-hobbes-reading {
		max-width: 60%;
	}
}
.tools-group {
	width: 100%;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 20px;
}
.tools-wrap {
	max-width: 560px;
	width: 100%;
	padding: 0px 15px;
	margin-bottom: 10px;
}
.tools-wrap h3 {
	color: #383838;
	text-decoration: underline;
	margin-bottom: 10px;
}
.tools-text {
	font-family: 'Poppins', sans-serif;
	color: #383838;
	font-size: 1.02em;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.2px;
	text-align: center;
}
.process-skills {
	color: 383838;
	display: flex;
	margin: 0px 5px 30px 5px;
}
.one-third {
	width: 33.33%;
	padding: 0px;
	margin: 15px 0px 0px;
}
.one-third h4 {
	margin-bottom: 15px;
}
.process-skills ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 0.2px;
}
.process-skills li {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #383838;
}

/* ************************************************************************************
SECTION - CONTACT ME (LINKS ONLY, NO CONTACT FORM)
************************************************************************************* */
.connect-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 20px 50px;
}
.connect-wrap {
	max-width: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.connect-heading {
	width: 100%;
	font-size: 150%;
	font-weight: 600;
}
.connect-text {
	font-size: 102%;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	margin: 20px 25px;
}
@media (max-width: 660px) {
	.connect-block {
		padding: 60px 20px 40px;
	}
	.connect-heading {
	    width: 100%;
	    font-size: 24px;
	    font-weight: 600;
	}
	.connect-text {
		font-size: 17px;
		font-weight: 400;
		line-height: 115%;
		width: 100%;
		margin: 20px 25px;
	}
}

.philosophy {
	max-width: 520px;
	text-align: center;
	padding: 0px 10px;
}
