/* CSS Document */

/* ************************************************************************************
SECTION - ABOUT
************************************************************************************* */
/* ************************************************************************************
MY AVATAR & RESUME LINK
************************************************************************************* */


.about {
	padding: 0px 0px 50px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.about-heading h1 {
	color: #FFF;
	width: 100%;
	margin-bottom: 20px;
}

.about-heading {
	background-color: #DC0E7D;
	width: 100%;
	padding: 40px 0px 30px;
	margin-bottom: 40px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	/*margin-bottom: 30px;*/
}

.avatar {
	width: 150px;
	/*border: thin solid #404040;
	border-radius: 50%;*/
	margin-bottom: 20px;
}

.email-button {
	width: 150px;
	height: 36px;
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 1px;
	border: solid #FFF;
	text-decoration: none;
}

.email-button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.1px;
	color: #FFF;
}

.resume-button {
	width: 150px;
	height: 36px;
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 15px;
	padding-top: 1px;
	border: solid #FFF;
	text-decoration: none;
}

.resume-button-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #FFF;
}



.bio {
	max-width: 600px;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
	font-size: 103%;
	letter-spacing: 0.1px;
	font-weight: 400;
	line-height: 140%;
	padding: 0px 10px;
/*	-webkit-columns: 2 300px;
    -moz-columns: 2 300px;
    columns: 2 300px;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 4em;
	-webkit-column-rule: 1px solid #ddd;
	-moz-column-rule: 1px solid #ddd;
	column-rule: 1px solid #ddd;*/
}


.tools-group {
	background-color: #E8E8E8;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 40px;
}

.tools-wrap {
	max-width: 560px;
	width: 100%;
	padding: 0px 15px;
	margin-bottom:40px;
}

.tools-wrap h3 {
	color: #383838;
	text-decoration: underline;
	margin-bottom: 2px;
}

.tools-text {
	font-family: 'Open Sans', sans-serif;
	color: #383838;
	font-size: 102%;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.2px;
	text-align: center;
}
