@charset "UTF-8";
/* CSS Document */


.boxly-header {
	height: 320px;
	background-image: url(../images/cs-boxly/boxly-hero-img-v1.png);
	background-size: cover;
	background-position: 50% 50%;
	background-color: #00688D;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-wrap {
	max-width: 280px;
	padding: 10px;
}
.title h2 {
	text-decoration: underline;
	padding: 50px 0px 0px;
}
.title h1 {
	padding-bottom: 50px;
}
.article-block {
	padding-bottom: 40px;
}
.article-block h2 {
	padding-bottom: 10px;
}
.article-block h3 {
	padding-bottom: 8px;
}


/* *********************************************************************************
SECTION - ABOUT THIS PROJECT
********************************************************************************** */
.view-prototype {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.view-prototype img {
	max-width: 750px;
	min-width: 200px;
	width: 100%;
	padding: 5px;
}
.button-link {
	width: 170px;
	height: 40px;
	display: flex;
  justify-content: center;
  align-items: center;
	padding-top: 1px;
	border: solid #383838;
	text-decoration: none;
}
.button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #383838;
}

/* *********************************************************************************
SECTION - USER RESEARCH, USER HABITS
********************************************************************************** */
.research ol {
	width: 85%;
	margin: auto;
}
.user-habits h2 {
	padding: 0px 0px 30px;
}
.user-habits h3 {
	padding: 40px 0px 3px;
	text-decoration: underline;
}
.data-row-group {
	max-width: 390px;
	min-width: 220px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.data-row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 10px 15px 10px;
}
.data-row span {
	width: 20%;
	text-align: right;
	color: #383838;
	font-weight: 700;
	font-size: 200%;
}
.data-row p {
	width: 80%;
	color: #383838;
	padding: 0px 5px 0px 20px;
}
.data-footnote {
	font-style: italic;
	text-align: right;
	margin: 5px 0px 40px;
	padding: 0px 20px;
}
.competitors div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-group {
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-items: center;
	padding-top: 15px;
}
.competitors img {
	width: 130px;
	height: 130px;
	padding: 10px 10px;
}
@media (max-width: 400px) {
	.data-row {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 15px 10px 15px 10px;
	}
	.data-row span {
		display: inline-block;
		width: 90%;
		text-align: center;
		color: #FFF;
		font-weight: 700;
		font-size: 200%;
		margin-bottom: 10px;
	}
	.data-row p {
		display: inline-block;
		width: 90%;
		text-align: center;
		color: #FFF;
		padding: 0px;
	}
}

/* ************************************************************************
SECTION - PERSONAS 
************************************************************************* */
.personas {
	margin-bottom: 30px;
}
.personas-group h3 {
	padding-bottom: 8px;
}
.personas-group {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.user-profile {
	display: flex;
	margin-bottom: 30px;
}
.persona-img {
	max-width: 380px;
	width: 100%;
	margin-top: 11px;
}
.personas-group h4 {
	margin: 10px 0px;
	text-align: left;
	text-decoration: underline;
}	
.persona-details {
	max-width: 660px;
	padding: 0px 20px;
}
@media (max-width: 879px) {
	.user-profile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.personas-group h4 {
		text-align: center;
	}
}


/* ************************************************************************
SECTION - USER FLOWS, WIREFRAMES, TESTING, MOCKUPS
************************************************************************* */
.light-solid-wrap {
	width: 100%;
	background-color: #D6F4FF;
	background-position: 0% 0%;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}
.screenshots-wrap {
	width: 100%;
	padding: 0px;
}
.screenshots-wrap h2 {
	color: #383838;
	margin: 40px 0px 30px;
}
.screenshots-group {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.screenshot {
	max-width: 45%;
	padding: 10px;
}
.wireframe-group {
	max-width: 1280px;
	width: 100%;
	padding: 40px 0px 50px;
}
.wireframe-group h2 {
	padding-bottom: 30px;
}
.wireframes {
	background-image: url(../images/cs-boxly/boxly-wireframes.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 600px;
}
@media (max-width: 800px) {
	.screenshots-group {
		display: flex;
		flex-direction: column;
	}
	.screenshot {
		max-width: 95%;
		padding: 5px 10px;
	}
}
.testing ol{
	width: 88%;
	margin: auto;
}
@media (max-width: 600px) {
		.wireframes {
		height: 500px;
	}
}
@media (max-width: 400px) {
		.wireframes {
		height: 360px;
	}
}