@charset "UTF-8";
/* CSS Document */


.boxly-header {
	height: 320px;
	background-image: url(../images/boxly-hero-img-v1.png);
	background-size: cover;
	background-position: 50% 50%;
	background-color: #0592BE;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-wrap {
	
}

.title h2 {
	text-decoration: underline;
	padding: 50px 0px 0px;
}

.title h1 {
	padding-bottom: 50px;
}

.summary {
	padding-bottom: 40px;
}
.summary h2 {
	padding-bottom: 10px;
}

.problem-solution h3 {
	padding-bottom: 10px;
}

.problem-solution {
	padding-bottom: 40px;
}

.research h2 {
	padding-bottom: 10px;
}

.research {
	padding-bottom: 40px;
}

.analysis h3 {
	padding-bottom: 10px;
}

.analysis {
	padding-bottom: 40px;
}

/* ************************************************************************
SECTION - PERSONAS 
************************************************************************* */
.personas {
	margin-bottom: 30px;
}
.personas h3 {
	margin-bottom: 20px;
}
.personas-group {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.user-profile {
	display: flex;
	margin-bottom: 30px;
}
.persona-img {
	max-width: 380px;
	width: 100%;
	margin-top: 11px;
}
.personas-group h4 {
	margin: 10px 0px;
	text-align: left;
	text-decoration: underline;
}	
.persona-details {
	max-width: 660px;
	padding: 0px 20px;
}
@media (max-width: 879px) {
	.user-profile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.personas-group h4 {
		text-align: center;
	}
}
/* *********************************************************************************
SECTION - ABOUT THIS PROJECT
********************************************************************************** */
.view-prototype {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.view-prototype img {
	max-width: 750px;
	min-width: 200px;
	width: 100%;
	padding: 5px;
}
.button-link {
	width: 170px;
	height: 40px;
	display: flex;
  justify-content: center;
  align-items: center;
	padding-top: 1px;
	border: solid #383838;
	text-decoration: none;
}
.button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #383838;
}

/* ************************************************************************
SECTION - WIREFRAMES 
************************************************************************* */
.dark-solid-wrap {
	background-color: #05646A;
	background-position: 0% 0%;
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}
.wireframes-wrap {
	width: 100%;
	padding: 0px 0px 10px;
}

.wireframes-group {
	color: #FFF;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.wireframe {
	max-width: 30%;
	margin: 10px;
}

.wireframes-wrap h2 {
	color: #FFF;
	margin: 40px 0px 30px;
}

@media (max-width: 880px) {
	
	.wireframe {
		max-width: 45%;
		margin: 8px;
	}
}
