@charset "UTF-8";
/* CSS Document */

/* ************************************************************************************
SECTION - GENERAL SETTINGS 
************************************************************************************* */
.article-title {
	margin: 0px 15px;
}
.sub-title {
	padding: 30px 10px 10px;
}
.text-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.days-link {
	max-width: 510px;
	min-width: 20px;
	margin: 5px;
	text-align: center;
	line-height: 1.4em;
}
.text-box-padding {
		padding: 20px 15px;
}
.container-600px span {
	text-decoration: underline;
}
.container-600px p {
	
}
.img-height {
	max-height: 70vh;
}
.img-height-480px {
	max-height: 480px;
}
.img-width {
	max-width: 95vw;
}





