/* CSS Document */

/* ************************************************************************************
SECTION - HEADER
************************************************************************************* */

/* ************************************************************************************
HEADER - LOGO & SHORT SUMMARY OF SKILLS
************************************************************************************* */

header {
	padding: 60px 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.header-logo {
	margin: 0 auto 15px;
	width: 150px;
	display: block;
}

.my-name {
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	font-size: 210%;
	text-transform: uppercase;
	margin: 0px 15px 20px;
	color: #383838;
} 

.header-intro {
	font-weight: 400;
	font-style: italic;
	font-size: 105%;
	letter-spacing: 0.2px;
	padding: 0px 7%;
}

.social-header-wrap {
	margin: 20px 12% 0px;
	display: flex;
	justify-content: center;
}




/* ************************************************************************************
SECTION - FEATURED PROJECTS
************************************************************************************* */
/* ************************************************************************************
PROJECTS - TITLES & PROJECT DESCRIPTIONS
************************************************************************************* */

.project-group {
	text-align: center;		
}

.row {
	height: 600px;
	background-color: #E8E8E8;
	display: flex;
    justify-content: center;
    align-items: center;
}

.row-modal {
	max-width: 420px;
	min-width: 250px;
	height: 230px;
	margin: 0px 12%;
	background-color: #333;
	opacity: 0.96;
	display: flex;
    justify-content: center;
    align-items: center;
}

.row-content {
	height: 180px;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1px;
}

.project-tag {
	margin: 0;
	font-style: italic;
	font-weight: 300;
	font-size: 93%;
	color: #BBB;
}

.project-name {
	font-size: 135%;
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 5%;
}

.project-brief {
	color: #FFF;
	font-weight: 200;
	font-size: 92%;
	letter-spacing: 0.1px;
	margin: 0;
}

.project-button {
	width: 170px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: thin solid #FFFFFF;
	text-decoration: none;
	letter-spacing: 0px;
}

.project-button-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 91%;
	font-weight: 400;
	letter-spacing: 0.3;
	color: #FFFFFF;
}

#meme {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../images/meme-hero-img.png);
}

#boxly {
	background-color: #606060;
	background-image: url(../images/boxly-hero-img-v3.png);
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

#logo-boxly {
		width: 180px;
		position: absolute;
		right: 20px;
		bottom: 20px;
	}

#folio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFED48;
}

.folio-hero-row-1 {
	align-self: flex-start;
	margin: 25px 0px 0px 25px;
}

.folio-hero-text-pink {
	color: #FF0090
}

.folio-hero-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	font-size: 42px;
	color: #282828;
	line-height: 102%;
	text-align: left;
}

.folio-hero-row-3 {
	align-self: flex-end;
	margin: 3px 15px 10px 0px;
}

.octocat-wrap {
	width: 290px;
}




/* ************************************************************************************
SECTION - ABOUT
************************************************************************************* */
/* ************************************************************************************
MY AVATAR & RESUME LINK
************************************************************************************* */


.about {
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.about-heading {
	width: 100%;
	margin-bottom: 20px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	margin-bottom: 50px;
}

.avatar {
	width: 150px;
	border: thin solid #404040;
	border-radius: 50%;
	margin-bottom: 20px;
}

.resume-button {
	width: 170px;
	height: 40px;
	display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 1px;
	border: solid #FF0090;
	text-decoration: none;
}

.resume-button-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #FF0090;
}

.bio {
	max-width: 1200px;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
	font-size: 101%;
	letter-spacing: 0.2px;
	font-weight: 400;
	line-height: 120%;
	-webkit-columns: 2 300px;
    -moz-columns: 2 300px;
    columns: 2 300px;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 4em;
	-webkit-column-rule: 1px solid #ddd;
	-moz-column-rule: 1px solid #ddd;
	column-rule: 1px solid #ddd;
}





/* ************************************************************************************
SECTION - MEDIA QUERIES FOR HOMEPAGE ELEMENTS
************************************************************************************* */
/* ************************************************************************************
MEDIA QUERIES - MOBILE DEVICES
************************************************************************************* */

@media (max-width: 560px) {
	
	.header-logo {
		margin: 0 auto 15px;
		width: 120px;
		display: block;
	}
	
	.my-name {
		font-family: 'Work Sans', sans-serif;
		font-weight: 700;
		font-size: 180%;
		text-transform: uppercase;
		margin: 0px 15px 20px;
		color: #404040;
	} 
	
	.header-intro {
		font-weight: 400;
		font-style: italic;
		font-size: 17px;
		letter-spacing: 0.2px;
		padding: 0px 7%;
	}
	
	.project-tag {
		margin: 0;
		font-style: italic;
		font-weight: 300;
		font-size: 93%;
		color: #BBB;
	}

	.project-name {
		font-size: 125%;
		font-weight: 600;
		color: #FFF;
		text-transform: uppercase;
		letter-spacing: 0.1px;
	}

	.project-brief {
		color: #FFF;
		font-weight: 200;
		font-size: 93%;
		letter-spacing: 0.1px;
		margin: 0;
	}

	.project-button {
		width: 170px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: thin solid #FFFFFF;
		text-decoration: none;
		letter-spacing: 0px;
	}

	.project-button-text {
		font-family: 'Open Sans', sans-serif;
		font-size: 91%;
		font-weight: 400;
		letter-spacing: 0.3;
		color: #FFFFFF;
	}
	
	#logo-boxly {
		width: 150px;
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
	
	.bio {
		font-size: 17px;
	}
	
}


