@charset "UTF-8";
/* CSS Document */

/* ==================================================================================
MEDIA QUERIES
================================================================================== */

/* Start of tablet and desktop styles */
.page-grid {
	padding-top: 50px;
	display: grid;
	grid-template-areas: 
		"header"
		"title-lg"
		"feature-1"
		"feature-2"
		"feature-3"
		"springboard"
		"footer";
	grid-template-rows: repeat(7, auto);
	grid-template-columns: 100vw;
}
header {
	grid-area: header;
	width: 100%;
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FDE6E6;
}
.header-box {
	max-width: 1080px;
	width: 100%;
	display: flex;
	align-items: center;
}
.header-img {
	order: 2;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#jayess-abstract {
	min-width: 320px;
	max-width: 480px;
	padding: 10px 20px 10px 10px;
}
.header-text {
	width: 50%;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
}
.header-brief {
	width: 100%;
	padding: 0px;
	text-align: left;
}
.title {
	font-size: 1.4em;
	line-height: 1.5em;
	text-align: left;
}
#my-name-is {
	
}
.subtitle {
	line-height: 1.5em;
}
.subtitle span {
	font-style: italic;
}
.resume.btn-link {

}
.brief {
	width: 100%;
	text-align: left;
}
.jayess-wang {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 1.39em;
	color: #F20D8E;
}
.city {
	text-decoration: line-through;
}
.social-btn-group {
	display: flex;
	position: relative;
	right: 12px;
}
.social-btn {
	width: 34px;
	margin: 0px 12px;
}
.scroll-down {
	display: none;
}
.title-lg {
	grid-area: title-lg;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* FEATURED PROJECT - BOXLY */
.featured-projects {
	margin: 0px auto;
	padding: 100px 0px 0px;
	text-align: center;
}
.boxly {
	grid-area: feature-1;
	width: 100%;
	margin: 20px 0px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*background-color: #D6F4FF;*/
}
.boxly-wrap {
	max-width: 1080px;
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.boxly-text {
	width: 35%;
	padding: 0px 20px;
}
.boxly .btn-link {
	margin: 25px 0px 10px;
}
.boxly-img {
	width: 65%;
	padding: 0px 20px;
}

/* FEATURED PROJECT - WHAT DO YOU MEME? */
.meme {
	grid-area: feature-2;
	padding: 10px 0px;
	margin: 10px 0px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.meme-wrap {
	max-width: 1080px;
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.meme-text {
	order: 2;
	width: 45%;
	padding: 0px 20px;
}
.meme .btn-link {
	margin: 25px 0px 10px;
}
.meme-img {
	order: 1;
	width: 55%;
	padding: 0px 20px 0px 20px;
}

/* FEATURED PROJECT - JW FOLIO */
.folio {
	grid-area: feature-3;
	padding: 10px 0px 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.folio-wrap {
	max-width: 1080px;
	width: 100%;
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.folio-text {
	width: 40%;
	padding: 0px 10px 0px 20px;
}
.folio .btn-link {
	margin: 25px 0px 10px;
}
.folio-img {
	width: 60%;
	padding: 0px 30px 0px;
}
/* FOOTER LINKS & CONTACT INFO */
.home.footer-wrap {
	grid-area: footer;
	background-color: #FDE6E6;
}

/* start of mobile styles */
@media (max-width: 800px){
	.page-grid {
		padding-top: 50px;
		display: grid;
		grid-template-areas: 
			"header"
			"title-lg"
			"feature-1"
			"feature-2"
			"feature-3"
			"springboard"
			"footer";
		grid-template-rows: repeat(7, auto);
		grid-template-columns: 100%;
	}
	header {
		grid-area: header;
		width: 100%;
		padding: 0px 0px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #FDE6E6;
	}
	.header-box {
		padding: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header-img {
		order: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#jayess-abstract {
		min-width: 240px;
		max-width: 280px;
		width: 100%;
		padding: 0px 20px 10px 10px;
	}
	.header-text {
		order: 2;
		width: 90%;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header-brief {
		width: 90%;
		text-align: center;
	}
	.title {
		font-size: 1.32em;
		line-height: 1.5em;
		text-align: center;
	}
	#my-name-is {
		
	}
	.subtitle {
		line-height: 1.5em;
		text-align: center;
	}
	.brief {
		max-width: 540px;
		width: 100%;
		text-align: center;
	}
	.jayess-wang {
		font-family: 'Kaushan Script', sans-serif;
		font-size: 1.32em;
		color: #F20D8E;
	}
	.city {
		text-decoration: line-through;
	}
	.social-btn-group {
		display: flex;
		right: 0px;
	}
	.social-btn {
		width: 34px;
		margin: 0px 15px;
	}
	.scroll-down {
		display: none;
	}
	.title-lg {
		grid-area: title-lg;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
/* FEATURED PROJECT - BOXLY */
	.featured-projects {
		font-size: 1.78em;
		margin: 0px auto;
		padding: 60px 0px 0px;
		text-align: center;
	}
	.boxly {
		grid-area: feature-1;
		margin: 0px;
		padding: 20px 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/*background-color: #D6F4FF;*/
	}
	.boxly-wrap {
		width: 100%;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.boxly-text {
		width: 100%;
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.boxly .btn-link {
		margin: 25px 0px 10px;
	}
	.boxly-img {
		width: 100%;
		padding: 10px 8%;
	}
	
/* FEATURED PROJECT - WHAT DO YOU MEME? */
	.meme {
		grid-area: feature-2;
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.meme-wrap {
		width: 100%;
		padding: 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.meme-text {
		order: 1;
		width: 100%;
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.meme .btn-link {
		margin: 25px 0px 10px;
	}
	.meme-img {
		width: 100%;
		padding: 20px 8% 10px;
	}

/* FEATURED PROJECT - JW FOLIO */
	.folio {
		grid-area: feature-3;
		padding: 0px 0px 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.folio-wrap {
		max-width: 1080px;
		padding: 30px 0px 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.folio-text {
		width: 100%;
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.folio .btn-link {
		margin: 25px 0px 10px;
	}
	.folio-img {
		width: 100%;
		padding: 20px 8%;
	}
/* FOOTER LINKS & CONTACT INFO */
	.home.footer-wrap {
		grid-area: footer;
		background-color: #FDE6E6;
	}
}
/* ===================================================================================
SECTION - SPRINGBOARD MENU
=================================================================================== */
.springboard-wip {
	grid-area: springboard;
	width: 100%;
	padding: 40px 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #FDE6E6;
}
#title-wip {
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}
#more-projects {
	width: 100%;
	font-size: 1.4em;
	padding: 30px 10px;
	text-transform: uppercase;
}
.projects-springboard {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.projects-springboard a {
	text-decoration: none;
}
.projects-springboard a:hover {
	background-color: #383838;
}
.project-box {
	height: 160px;
	width: 100%;
	max-width: 280px;
	min-width: 250px;
	margin: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.30);
	box-shadow: 0px 2px 6px rgba(0,0,0,0.30);
}
.gray-border {
	border: thin solid #E0E0E0;
}
.pink-bkgd {
	background-color: #D10578;
}
.drk-gray-bkgd {
	background-color: #555;
}
.black-bkgd {
	background-color: #000;
}
.capitalize-text {
	text-transform: uppercase;
}
.project-wrapper {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.project-type {
	color: white;
	text-align: center;
	font-size: 0.85em;
	text-transform: uppercase;
	text-decoration: underline;
	padding: 8px 0px 10px;
}
.project-title {
	font-size: 1.35em;
	color: white;
	text-align: center;
	font-weight: 700;
	margin: 5px 15px;
}
.project-category {
	color: white;
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
	font-weight: 300;
	padding: 10px 0px 8px;
}
.title-category {
	text-decoration: underline;
}



