@charset "UTF-8";
/* ************************************************************************************
**** !!! CSS DOCUMENT !!! **** 
************************************************************************************* */
/* ************************************************************************************
GENERAL SETTINGS 
************************************************************************************* */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 1200px;
	width: 100%;
}
.container.shadow {
	-moz-box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
	-webkit-box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
	box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
}
.spacing-div-h100px {
	height: 100px;
}
.spacing-div-h40px {
	height: 40px;
}
.spacing-div-h30px {
	height: 30px;
}
.spacing-div-h20px {
	height: 20px;
}
.article-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.case-study {
	max-width: 660px;
	min-width: 200px;
	margin: 0px 5%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	color: #383838;
	text-align: center;	
	margin: 0px auto;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 135%;
	color: #383838;
}
li {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
	color: #383838;
	padding: 5px 0px;
}
q {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #383838;
}
a {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
}
a:link {
	color: #E00B7C;
}
a:visited {
	color: #850743;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
/* *************************************************************************************
SECTION - NAVBAR
************************************************************************************* */
nav {
	height: 40px;
	width: 100%;
	background-color: #FFF;
	opacity: 0.97;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	border: thin solid #EEEEEE;
	-webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 7px rgba(0,0,0,0.20);
}
.nav-wrapper {
	width: 100%;
	max-width: 1200px;
	min-width: 200px;
	display: flex;
	justify-content: space-between;
}
.logo-button {
	width: 50px;
	height: 40px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
}

/* ************************************************************************************
SECTION - MENU BAR 
************************************************************************************* */
menu {
	padding-right: 10px;
}
.menu-button {
	height: 40px;
	padding: 0px 5px;
	display: inline-flex;
    align-items: center;
}
.menu-button:link {
		text-decoration: none;
}
.menu-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 0.88em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #E40281;
}
@media (max-width: 660px) {
	.menu-button {
		padding: 0px 3px;
	}
	.menu-text {
	font-size: 0.88em;
	}
}
/* ************************************************************************************
NEW SECTION
************************************************************************************* ************************************************************************************
FOOTER - SOCIAL MEDIA & COPYRIGHT INFO
************************************************************************************* */
.footer-wrap {
	width: 100%;
}
footer {
	font-family: 'Open Sans', sans-serif;
	color: #555;
	padding: 40px 5px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.social-footer-wrap {
		width: 100%;
		padding: 10px 5px;
    display: flex;
    justify-content: center;
}
.social-link {
	padding: 0px;
	display: inline-flex;
  align-items: center;
	text-decoration: none;
}
.social-text {
	color: #555;
	font-weight: 600;
	font-size: 0.88em;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	padding: 0px 5px;
	text-decoration: underline;
}
.copyright {
	width: 100%;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 1.3em;
	letter-spacing: 0.2px;
	text-align: center;
	padding: 5px;
}
@media (max-width: 460px) {
	.social-text {
		font-weight: 400;
		font-size: 0.8em;
		padding: 0px 3px;
	}
	.copyright {
			font-size: 0.8em;
	}
}



