@charset "UTF-8";
/* ************************************************************************************
**** !!! CSS DOCUMENT !!! **** 
************************************************************************************* */
/* ************************************************************************************
GENERAL SETTINGS 
************************************************************************************* */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	color: #222;
	text-align: center;	
	margin: 0px auto;
}
/* ************************************************************************************
GENERAL CONTENT LAYOUT 
************************************************************************************* */
.container {
	max-width: 1200px;
	width: 100%;
}
.container.shadow {
	-moz-box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
	-webkit-box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
	box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
}
.container-1200px {
	max-width: 1200px;
	min-width: 200px;
	width: 100%;
}
.container-900px {
	max-width: 900px;
	min-width: 200px;
	width: 100%;
}
.container-600px {
	max-width: 600px;
	min-width: 200px;
	width: 100%;
}
.spacing-div-h100px {
	height: 100px;
}
.spacing-div-h40px {
	height: 40px;
}
.spacing-div-h30px {
	height: 30px;
}
.spacing-div-h20px {
	height: 20px;
}
.case-study {
	max-width: 600px;
	min-width: 200px;
	margin: 0px 5%;
}