@charset "UTF-8";
/* ************************************************************************************
**** !!! CSS DOCUMENT !!! **** 
************************************************************************************* */
/* ************************************************************************************
GENERAL SETTINGS 
************************************************************************************* */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
	width: 100%;
}

.container.shadow {
	-moz-box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
	-webkit-box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
	box-shadow: 0px 0px 16px rgba(16,16,16,0.18);
}

.spacing-div-h100px {
	height: 100px;
}
.spacing-div-h40px {
	height: 40px;
}

.spacing-div-h20px {
	height: 20px;
}

.article-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.case-study {
	max-width: 660px;
	min-width: 200px;
	margin: 0px 5%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	color: #383838;
	text-align: center;	
	margin: 0px auto;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 135%;
	color: #383838;
}
li {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
	color: #383838;
	padding: 5px 0px;
}
q {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #383838;
}
a {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 400;
}
a:link {
	color: #E00B7C;
}
a:visited {
	color: #850743;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* !!! CSS TRIANGLE !!! ***************************************************************
URL: https://css-tricks.com/examples/ShapesOfCSS
>>> USED AS AN ALTERNATIVE TO FONTAWESOME & HTML ENTITIES >>>
************************************************************************************* */
.down-triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #FFF;
	margin-bottom: 8px;
}

.up-triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottomw: 8px solid red;
	display: inline-block;
	margin-top: 1px;
}


/* ************************************************************************************
SECTION - NAVBAR
************************************************************************************* */
nav {
	height: 40px;
	width: 100%;
	background-color: #303030;
	opacity: 0.97;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.nav-wrapper {
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.logo-button {
	width: 50px;
	height: 40px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
}



/* ************************************************************************************
SECTION - MENU BAR 
************************************************************************************* */
menu {
	padding-right: 10px;
}
.menu-button {
	height: 40px;
	padding: 0px 5px;
	display: inline-flex;
    align-items: center;
}
.menu-button:link {
		text-decoration: none;
}
.menu-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 90%;
	text-transform: uppercase;
	color: #FFFFFF;
}
@media (max-width: 660px) {
	.menu-button {
		height: 40px;
		padding: 0px 3px;
		display: inline-flex;
		align-items: center;
	}
	.menu-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 86%;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: -0.4px;
	}
}


/* ************************************************************************************
SECTION - CONTACT ME (LINKS ONLY, NO CONTACT FORM)
************************************************************************************* */
.connect-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 20px 50px;
}
.connect-wrap {
	max-width: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.connect-heading {
	width: 100%;
	font-size: 150%;
	font-weight: 600;
}
.connect-text {
	font-size: 102%;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	margin: 20px 25px;
}
@media (max-width: 660px) {
	.connect-block {
		padding: 60px 20px 40px;
	}
	.connect-heading {
	    width: 100%;
	    font-size: 24px;
	    font-weight: 600;
	}
	.connect-text {
		font-size: 17px;
		font-weight: 400;
		line-height: 115%;
		width: 100%;
		margin: 20px 25px;
	}
}


/* ************************************************************************************
SECTION - FOOTER
************************************************************************************* */
/* ************************************************************************************
FOOTER - SOCIAL MEDIA & COPYRIGHT INFO
************************************************************************************* */

footer {
	width: 100%;
	background-color: #383838;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-bar {
	max-width: 1200px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 20px 0px;
}
.footer-wrap {
	width: 100%;
	background: #505050;
}
.copyright {
	width: 50%;
	margin: 0;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 90%;
	text-align: left;
	letter-spacing: 0.2px;
	line-height: 120%;
}

.social-footer-wrap {
	width: 50%;
	padding-right: 9px;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.social-link {
	padding: 0px;
	display: inline-flex;
  align-items: center;
	text-decoration: none;
}

.social-text {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	font-size: 90%;
	letter-spacing: 0.2px;
	padding: 0px 8px;
	text-decoration: underline;
}
@media (max-width: 660px) {
	.footer-bar {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0px;
	}
	.copyright {
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
		font-family: 'Kanit', sans-serif;
		color: #ffffff;
		font-weight: 200;
		font-size: 85%;
		text-align: center;
		letter-spacing: 0.2px;
		order: 2;
	}
	.social-footer-wrap {
		width: 100%;
		margin: 10px 0px 20px;
		padding: 0;
    display: flex;
    justify-content: center;
		order: 1;
  }
	.social-link {
		padding: 0px;
		display: inline-flex;
		align-items: center;
		text-decoration: none;
	}
	.social-text {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: 200;
		font-size: 0.86em;
		letter-spacing: 0.2px;
		padding: 0px 8px;
		text-decoration: underline;
	}
}
@media (max-width: 460px) {
	.social-text {
		padding: 0px 4px;
	}
}



