/* ************************************************************************************
**** !!! CSS DOCUMENT !!! **** 
************************************************************************************* */
/* ************************************************************************************
GENERAL SETTINGS 
************************************************************************************* */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1460px;
	width: 100%;
}

.container.shadow {
	-moz-box-shadow: 0px 0px 15px rgba(16,16,16,0.15);
	-webkit-box-shadow: 0px 0px 15px rgba(16,16,16,0.15);
	box-shadow: 0px 0px 15px rgba(16,16,16,0.15);
}

.navbar-spacing {
	height: 40px;
}

.content-goes-here {
	height: 1200px;
	background-color: #FFF;
	font-family: 'Work Sanes', sans-serif;
	font-size: 300%;
	font-weight: 800;
	color: #383838;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	color: #383838;
	text-align: center;	
	margin: 0px auto;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: #383838;
}

q {
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	color: #383838;
}

a:link {
	color: #DF1182;
}

a:visited {
	color: #7B0848;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}




/* ************************************************************************************
SECTION - NAVBAR
************************************************************************************* */

nav {
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.nav-wrapper {
	max-width: 1460px;
	width: 100%;
	background-color: #303030;
	opacity: 0.97;
	display: flex;
	justify-content: space-between;
}

.logo-button {
	width: 50px;
	height: 40px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
}



/* ************************************************************************************
SECTION - MENU BAR 
************************************************************************************* */

menu {
	padding-right: 10px;
}

.menu-button {
	height: 40px;
	padding: 0px 5px;
	display: inline-flex;
    align-items: center;
}

.menu-button:link {
		text-decoration: none;
}

.menu-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 90%;
	text-transform: uppercase;
	color: #FFFFFF;
}



/* ************************************************************************************
SECTION - FOOTER
************************************************************************************* */

/* ************************************************************************************
FLOATING DIV - "BACK-TO-TOP BUTTON"
************************************************************************************* */

footer {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-top-bar {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-top-wrap {
	width: 42px;
	position: fixed;
	bottom: 0;
	margin: auto;
}

.back-top-button {	
	margin: 0 auto;
	display: block;
	text-decoration: none;
}

.back-top-text {
	text-decoration: underline;
	text-align: center
}

.fas {
	width: 100%;
	font-size: 180%;
	text-align: center;	
}



/* ************************************************************************************
SECTION - CONTACT ME (LINKS ONLY, NO CONTACT FORM)
************************************************************************************* */


.connect-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 20px 30px;
}

.connect-wrap {
	max-width: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.connect-heading {
	width: 100%;
	font-size: 150%;
	font-weight: 600;
}

.connect-text {
	font-size: 98%;
	font-weight: 400;
	line-height: 115%;
	width: 100%;
	margin: 20px 25px;
}



/* ************************************************************************************
FOOTER - SOCIAL MEDIA & COPYRIGHT INFO
************************************************************************************* */

.footer-bar {
	max-width: 1460px;
	width: 100%;
	background-color: #383838;
	display: flex;
	align-items: flex-end;
	padding: 20px 0px;
}

.copyright {
	width: 50%;
	margin: 0;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-weight: 200;
	font-size: 88%;
	text-align: left;
	letter-spacing: 0.3px;
	line-height: 120%;
}

.social-footer-wrap {
	width: 50%;
	padding-right: 9px;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.social-link {
	padding: 0px;
	display: inline-flex;
    align-items: center;
	text-decoration: none;
}

.social-text {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 200;
	font-size: 87%;
	letter-spacing: 0.2px;
	padding: 0px 11px;
	text-decoration: underline;
}

.social-button {
	width: 40px;
	margin: 0px 15px;
}





/* ************************************************************************************
SECTION - MEDIA QUERIES FOR COMMON ELEMENTS & GENERAL SETTINGS
************************************************************************************* */
/* ************************************************************************************
MEDIA QUERIES - MOBILE DEVICES
************************************************************************************* */


@media (max-width: 560px) {
	
	.menu-button {
		height: 40px;
		padding: 0px 3px;
		display: inline-flex;
		align-items: center;
	}
	
	.menu-text {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 86%;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: -0.4px;
	}
	
	.connect-block {
		padding: 10px 20px 40px;
	}
	
	.connect-heading {
	    width: 100%;
	    font-size: 24px;
	    font-weight: 600;
	}

	.connect-text {
		font-size: 17px;
		font-weight: 400;
		line-height: 115%;
		width: 100%;
		margin: 20px 25px;
	}
	
    .footer-bar {
    	background-color: #303030;
    	display: flex;
    	flex-direction: column;
		align-items: center;
    	padding: 20px 0px;
    }
	
	.copyright {
    	width: 100%;
		margin-bottom: 10px;
		padding: 0;
    	font-family: 'Kanit', sans-serif;
    	color: #ffffff;
    	font-weight: 200;
    	font-size: 85%;
    	text-align: center;
    	letter-spacing: 0.2px;
		order: 2;
    }
	
    .social-footer-wrap {
    	width: 100%;
    	margin: 10px 0px 20px;
		padding: 0;
    	display: flex;
    	justify-content: center;
		order: 1;
    }

	.social-button {
		width: 35px;
		margin: 0px 11px 5px;
		
	}
	
	.social-link {
		padding: 0px;
		display: inline-flex;
		align-items: center;
		text-decoration: none;
	}
	
	.social-text {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: 200;
		font-size: 87%;
		letter-spacing: 0.2px;
		padding: 0px 8px;
		text-decoration: underline;
	}
	
	
}
